body, a {
     color:rgb(153, 153, 153)!important;
     text-decoration:none!important;
     font-family: 'Nunito', sans-serif;
}

#logo {
    margin-left:35px;
    font-size:30px;
    letter-spacing: 2px;
    color:#EDE0D4;
    text-transform: uppercase;
    margin-top:20px;
    margin-bottom:20px;
}

h1{
    font-family: 'Bodoni Moda', serif;
    letter-spacing: 2px;
    font-size:32px;
    padding-bottom:10px;
}

p{
font-size:12px;
}

.naslov_velik {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size:25px;
    padding-top:25px;
    padding-bottom:10px;
    letter-spacing: 2px;
    font-family: 'Bodoni Moda', serif;
}

.naslov_mali {
    font-size: 17px;
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;
}

hr{
    margin:0px!important;
    padding-bottom:1px!important;
    color:#c8a47e;
}

.besedilo{
    font-size: 15px!important;
}


/*  navbar*/
.nav-link{
    color:rgb(153, 153, 153)!important;
    text-transform: uppercase;
    font-size:13px;
}

#iskalnik_nav {
   margin-left:15px;
   border-radius:0px;
   font-size:13px;
}


/* appointment */
.form-control {
    border: 1px solid #c8a47e;;
}

.btn {
    color: rgb(153, 153, 153)!important;
    background-color: #EDE0D4;
    border-color: #EDE0D4;
}

.form-check-input:checked {
    background-color: #EDE0D4;
    border-color: #EDE0D4;
}

/*  table */

th,td {
    font-size: 15px!important;
    color: rgb(153, 153, 153);
}


/*  FAQ   */
.faq {
    font-size: 17px;
    color: rgb(153, 153, 153);
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;
}

.accordion-button:not(.collapsed) {
    background-color: #EDE0D4;
    color: rgb(153, 153, 153);
}

.accordion-button:focus {
    border-color: none!important;
    box-shadow: none!important;
}

/* cards */
.card{
    border:transparent!important;
}

.work_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

