.container {
    display: flex;
    justify-content: center;
}

.image {
    width:100px;
    box-sizing:border-box;
    text-align:center;
    margin: 40px auto 30px;
}

.banner h1 {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555555;
    font-size: 42px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 20px;
    text-align:center;

}

.banner h2 {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555555;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    text-align:center;

}


.container2 {
    display: flex;
    justify-content:center;
    padding:10px;


}

.login {
    display: flex;
    flex-direction:column;
    width:300px;
    background-color: #f7f7f7;
    padding-left:40px;
    padding-right:40px;
    padding-top:50px;
    padding-bottom:40px;
    border-style: none none outset none;

}


.container2 input {
    padding:10px;
    margin-bottom:10px;
    margin-top:15px;
    background-color:#ffffc4;
    font-weight: 500;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color:#555555;
    border: 1px solid #555555;
    border-radius:2px;

}

.container2 button {
    border: 1px solid #3079ed;
    color: #ffffff;
    background-color: #4d90fe;
    font-weight: 600;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding:10px;
    border-radius:2px;

}


.container2 img {
    weight:50%;
}

.login a {
    text-align: right;
    text-decoration:none;
    margin:10px;
    color:#4d90fe;
    font-weight: 450;
    font-family: Arial, sans-serif;
    font-size: 13px;

}

.circle {
    background-color:#E0E0E0;
    margin-bottom:20px;

    width:100px;
    border-radius:1000px;
    flex-direction:column;

    height: 100px;
    margin: 0 auto;
    padding: 10px;
    position: relative;

}

.glava {
    background-color:#c2c2c2;
    height:20px;
    width:20px;
    border-radius:1000px;
    justify-content:center;

    margin: 0 auto;
    margin-bottom:10px;
    margin-top: 15px;
    padding: 10px;
    position: relative;

}

.telo {
    background-color:#c2c2c2;
    height:23px;
    width:50px;
    border-bottom-left-radius:35px;
    border-bottom-right-radius:35px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    justify-content:center;

    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.bottom {
    text-align: center;
}

.bottom a {
    text-decoration:none;
    margin:5px;
    color:#4d90fe;
    font-weight: 500;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.bottom p {
    margin-top:30px;
    color:#555555;
    font-weight: 500;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.navbar {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;

    position: absolute;
    bottom: 30px;
    width: 100%;
}

.links {
    margin-left:30px;
    margin-top: 10px;
}

.links a {
    margin-right: 20px;
    text-decoration:none;
    margin:5px;
    color:#555555;
    font-weight: 500;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.language select {
    font-size:12px;
    margin-right:50px;
    margin-top:10px;
}

.language img {
    padding-top:10px;
    vertical-align:top;
}

