<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="/static/boogle/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div  class="container">
        <img class="image" src="/static/Boogle/img/boogle.jpeg">
    </div>

    <div  class="banner">
        <h1>One account. All of Boogle.</h1>
        <h2>Sign in with your Boogle account.</h2>
    </div>

    <div class="container2">
        <div class="login">

            <div class="circle">
                <div class="glava"></div>
                <div class="telo"></div>
            </div>

            <input placeholder="Enter your email">
            <button>Next</button>
            <a href="#">Need help?</a>
        </div>
    </div>

    <div class="bottom">
            <a href="#">Create account</a>
            <p>One Boogle Account for everything Boogle</p>
            <img src="/static/Boogle/img/links.png">
    </div>


    <div class="navbar">


        <div class="links">
            <a href="#">About Boogle</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Help</a>
        </div>

        <div class="language">
            <img src="/static/Boogle/img/sporocilo.png">
                <select id="lang-chooser" class="lang-chooser" name="lang-chooser">
                      <option value="en-GB">
                      ‪English (United Kingdom)‬
                      </option>
                      <option value="en">
                      ‪English (United States)‬
                      </option>
                      <option value="sl" selected="selected">
                      ‪slovenščina‬
                      </option>
                </select>
        </div>
    </div>
</body>
</html>