{% extends "base.html" %}

{% block title %}

<title>Maja Hladnik</title>

{% endblock title %}


{% block content %}

<!-- WORK-->

<div class="container-fluid">
    <div class="row pt-3">
        <div class="col hoi" align="center">
            <a href="https://www.hisahladnik.si">
                <img class="work_img" src="/static/img/logo_ig.png/">
                <div class="overlay">
                    <div class="text">
                        <p>HIŠA HLADNIK</p>
                        <p class="opis">My first website I created for my mum. I tried my best with the little knowledge
                            that I had at that time.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col hoi" align="center">
            <a href="/cvetlicarna">
                <img class="work_img" src="/static/img/cvetlicarna.jpeg/">
                <div class="overlay">
                    <div class="text">
                        <p>FLOWER SHOP</p>
                        <p class="opis">Learning HTML and CSS</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col hoi" align="center">
            <a href="/boogle">
                <img class="work_img" src="/static/img/boogle.png">
                <div class="overlay">
                    <div class="text">
                        <p>BOOGLE</p>
                        <p class="opis">Fake Google, learning some more CSS</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col hoi" align="center">
            <a href="/beautysalon">
                <img class="work_img" src="/static/img/bs.png/">
                <div class="overlay">
                    <div class="text">
                        <p>BEAUTY SALON</p>
                        <p class="opis">Learning bootstrap</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">

        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock content %}